.section {
  display: flex;
  flex-direction: column;

  .section {
    .descriptor {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      width: 70%;
    }
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    // mobile smaller font
    @media (max-width: 768px) {
      font-size: 1rem;
    }
    .name {
      @extend .subTitle_text;
      font-size: 5rem !important;
      /* color gradient */
      background: linear-gradient(
        90deg,
        #78c1f3 0%,
        #9be8d8 25%,
        #e2f6ca 75%,
        #f8fdcf 100%
      );
      // mobile smaller font
      @media (max-width: 768px) {
        font-size: 3rem !important;
      }
    }
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    .subtitle1 {
      @extend .subTitle_text;
      /* color gradient */
      background: linear-gradient(
        315deg,
        var(--tertiary) 0%,
        var(--tertiary-lighter) 50%,
        var(--tertiary-light) 100%
      );
    }
    .subtitle2 {
      @extend .subTitle_text;
      /* color gradient */
      background: linear-gradient(90deg, #e74646 0%, #fff3e2 50%, #e74646 100%);
    }
    .subtitle3 {
      @extend .subTitle_text;
      /* color gradient */
      background: linear-gradient(
        90deg,
        #78c1f3 0%,
        #9be8d8 25%,
        #e2f6ca 75%,
        #f8fdcf 100%
      );
    }

    // mobile smaller font
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.subTitle_text {
  font-size: 2rem;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
