.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  .section {
    .sectionHeader {
      display: inline-flex;
      width: 100%;
      .sectionTitle {
        display: flex;
        align-items: center;
        padding: 0.5% 3%;
        border: 1px solid var(--primary);
        width: auto;
        // no text wrapping
        white-space: nowrap;
        border-radius: 20px;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
        &:hover {
          background-color: var(--primary);
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
}

.icon {
  margin-right: 5%;
  font-size: 20px;
}
