@import '@/styles/globals.scss';
.container {
  
  .sectionHeader {
    .sectionTitle {
      .textFlair {
        // extend the textDecoration mixin to this class

        background: linear-gradient(
          90deg,
          #78c1f3 0%,
          #9be8d8 25%,
          #e2f6ca 75%,
          #f8fdcf 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    height: 100%;

    @include tablet {
      flex-direction: column;
      gap:150px;
    }
    .projectCard {
      height: 100%;
      border-bottom: 1px solid var(--primary);
      border-radius: 20px;
      color: var(--quaternary);
      display: flex;
      position: relative;
      transition: 1s ease-in-out;
      &:hover {
        border-bottom: 1px solid var(--tertiary);
      }
      .projectImageContainer {
        position: relative;
        width: 60%;
        .projectImage {
          border-radius: 20px;
          max-height: 400px;
          // blur the image
          filter: blur(1px);
        }
      }
      .projectTechStack {
        // place in the bottom left corner
        position: absolute;
        bottom: 2%;
        left: 2%;
        display: flex;
        .projectTech {
          margin-right: 10px;
          font-size: 12px;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: rgb(var(--primary-rgb), 0.5);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          color: #fff;
          font-weight: lighter;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: rgb(var(--primary-rgb), 0.8);
            cursor: pointer;
          }
        }
      }
      .projectInfo {
        position: absolute;
        // padding: 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;

        // put the third child at the bottom of the container
        :nth-child(3) {
          margin-top: auto;
        }

        .projectDescription {
          position: relative;
          // width: 80%;
          max-width: 80%;
          z-index: 2;
          border: 1px solid hsla(0, 0%, 96%, 0.113);
          background-color: rgba(0, 0, 0, 0.554);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          padding: 20px;
          // margin: 20px 0;
          border-radius: 30px;
          color: #fff;
          font-weight: lighter;
          // left: -80px;
          font-size: 17px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: rgba(var(--primary-rgb), 0.754);
          }
        }
        .projectLinks {
          // put the links at the bottom of the container
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          padding: 2%;
          width: 100%;
          .projectLink {
            font-size: 16px;
            border-radius: 10px;
            background-color: rgb(var(--primary-rgb), 0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            color: #fff;
            font-weight: lighter;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: rgb(var(--secondary-rgb), 0.8);
            }

            .icon {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .projectCard:nth-child(odd) {
      flex-direction: row-reverse;
      
      .projectImageContainer {
        .projectImage {
        }
      }
      .projectInfo {
        align-items: flex-start;
        .projectDescription {
          max-width: 100%;
        }
        .projectLinks {
          justify-content: flex-start;
        }
      }
      .projectTechStack {
        left: unset;
        right: 2%;
        .projectTech {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }
}
