@import '@/styles/globals.scss';
.container {
  .sectionHeader {
    .sectionTitle {
      .textFlair {
        // extend the textDecoration mixin to this class

        background: linear-gradient(
          90deg,
          #78c1f3 0%,
          #9be8d8 25%,
          #e2f6ca 75%,
          #f8fdcf 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
}
