:root{
  --primary: #053B50;
  --secondary: #176B87;
  --tertiary: #64CCC5;
  --quaternary: #e7e7e7;
  --primary-light: #134255;
  --secondary-light: #2a7188;
  --tertiary-light: #7deee6;
  --quaternary-light: #f5f5f5;
  --primary-dark: #053B50;
  --secondary-dark: #124f63;
  --tertiary-dark: #5ab9b3;
  --quaternary-dark: #cecdcd;
  --tertiary-lighter: #b3f0ec;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #999999;
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



/* disable up/down on number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-color: transparent transparent #9b6a2f transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent white transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-color: #9b6a2f transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: white transparent transparent transparent;
}
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(0, 0, 0, 0.017);
  background-color: rgba(215, 215, 215, 0.37);

  border-radius: 12px 12px 12px 12px;
  margin: 0px auto;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
}
::-webkit-scrollbar-thumb:active {
  background: var(--primary-light);
}